header(role='banner')
  div.menu-left
    button.help(role='button', aria-label='Help') ?
    button.customChallenge(role='button', aria-label='Custom challenge')
      i.fa.fa-pencil(aria-hidden='false')
      
  h1.title(id='titleId') SHWORDLE
      
  div.menu-right
    button.stats(role='button', aria-label='Statistics')
      i.fa.fa-bar-chart(aria-hidden='false')
    button.settings(role='button', aria-label='Settings')
      i.fa.fa-gear(aria-hidden='false')
