#helpModal.modal.modal-help
    .content-modal
        .header-modal
            button#closeButtonHelp X
        h2.heading How To Play
        h3.subheading Guess the Wordle in 6 tries.
        section.help-section
        ul.instructions
            li Each guess must be a valid 5-letter word.
            li The color of the tiles will change to show how close your guess was to the word.
        table
            tr
                td.green-bg W
                td E
                td A
                td R
                td Y
        table
            tr
                td P
                td.yellow-bg I
                td L
                td L
                td S
        table
            tr
                td V
                td A
                td G
                td.grey-bg U
                td E
