doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/landing.css')
    title= title
  body
    .container
      img(src="/images/wordle-icon.png")
      h1 SHWORDLE
      p#date= date
      .play-button
        a(href="/play")
          button PLAY
      .auth-buttons
        button(type='button') Log In
        button(type='button') Sign Up
