doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/landing.css')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap', rel='stylesheet')
    title= title
  body
    main
      img(src="/images/wordle-icon.png", alt="Shwordle logo")
      h1 SHWORDLE
      p#date= date
      .play-button
        a(href="/play") Daily Word
      .random-button 
        a(href="/random") Random Word
      if user
          .user-container
            p Logged in as 
              span #{user.username}
            form(action='/user/logout', method='POST')
              button(type='submit') Logout
      else
          .auth-buttons
            a.button(href="/user/login") Log In
            a.button(href="/user/signup") Sign Up