doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Invalid Word
        style.
            body {
                margin: 0;
                padding: 0;
                font-family: 'Arial', sans-serif;
                background-color: #252525;
                color: #ffffff;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                padding-top: 20vh;
            }
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            h1 {
                font-size: 3em;
                font-weight: bold;
                margin-bottom: 10px;
                color: #E0E0E0;
            }
            #date {
                font-size: 1.2em;
                margin-bottom: 40px;
                color: #BDBDBD;
            }
            button {
                cursor: pointer;
                background: #6aaa64;
                color: #ffffff;
                font-weight: bold;
                border: none;
                padding: 10px 20px;
                margin: 5px;
                border-radius: 5px;
                font-size: 1em;
                transition: background 0.3s ease, color 0.3s ease;
            }
            button:hover {
                background: #385c35;
            }
            .play-button button {
                font-size: 32px;
                padding: 20px 40px;
            }
            .auth-buttons {
                margin-top: 20px;
            }
            .auth-buttons button {
                background-color: gray;
                color: white;
            }
            a {
                text-decoration: none;
                color: inherit;
                display: inline-block;
            }

    body
        .container
            img(src="/images/wordle-icon.png")
            h1 SHWORDLE
            h2 Invalid Word!
            p The word you are trying to use for the custom game is invalid.
            a(href='/random')
                button Start a Game with a Random Word
            a(href='/')
                button Go to Home
