#modal
    .content
        .header
            button#close X
        .body
            #helpModalContent.modal-content
                h2 How To Play
                p Guess the Shwordle in 6 tries.
                p Each guess must be a valid 5-letter word.
                p The color of the tiles will change to show how close your guess was to the word.
                h3 Examples
                .word-example
                    .word
                        .letter.correct.animate W
                        .letter E
                        .letter A
                        .letter R
                        .letter Y
                    p W is in the word and in the correct spot.
                .word-example
                    .word
                        .letter P
                        .letter.wrongplace.animate I
                        .letter L
                        .letter L
                        .letter S
                    p I is in the word but in the wrong spot.
                .word-example
                    .word
                        .letter V
                        .letter A
                        .letter G
                        .letter.absent.animate U
                        .letter E
                    p U is not in the word in any spot.

            #resultsModalContent.modal-content
                h4.statsTitle STATISTICS
                ul#statsModule
                    li#statsPlayed 
                        div#statsPlayedValue.statsValue 1
                        div.statsLabel Played
                    li#statsWinPercent
                        div#statsWinPercentValue.statsValue 100%
                        div.statsLabel Win %
                    li#statsCurrentStreak 
                        div#statsCurrentStreakValue.statsValue 1
                        div.statsLabel Current Streak
                    li#statsMaxStreak 
                        div#statsMaxStreakValue.statsValue 1
                        div.statsLabel Max Streak

                h4.statsTitle GUESS DISTRIBUTION
                ul#guessDistribution
                    li#1AttemptCount
                        p.attemptLabel 1
                        div.AttemptCount
                            div#1AttemptCountBar
                                p#1AttemptCountValue 0
                    li#2AttemptCount
                        p.attemptLabel 2
                        div.AttemptCount                    
                            div#2AttemptCountBar
                                p#2AttemptCountValue 0
                    li#3AttemptCount
                        p.attemptLabel 3
                        div.AttemptCount
                            div#3AttemptCountBar
                                p#3AttemptCountValue 0
                    li#4AttemptCount
                        p.attemptLabel 4
                        div.AttemptCount
                            div#4AttemptCountBar
                                p#4AttemptCountValue 0
                    li#5AttemptCount
                        p.attemptLabel 5
                        div.AttemptCount
                            div#5AttemptCountBar
                                p#5AttemptCountValue 0
                    li#6AttemptCount
                        p.attemptLabel 6
                        div.AttemptCount
                            div#6AttemptCountBar
                                p#6AttemptCountValue 0       
                .results-footer
                    hr
                    button#shareButton Share Result
                    p#shareMessage

            #settingsModalContent.modal-content
                h2 Settings
                .toggle-container
                    .text-container
                        h3 Hard Mode
                        small Any revealed hints must be used in subsequent guesses
                    label.switch
                        input#hardModeToggle(type='checkbox', name='hardMode')
                        span.slider.round
                if currentUser
                    hr
                    br
                    p Logged in as 
                        span#currentUser #{currentUser.username}
                    form#logoutForm(action='/user/logout', method='POST')
                        button(type='submit') Log out