#resultsModal.resultsModal
    .resultsModal-content
        .resultsModal-header
            button#closeButton X
        .resultsModal-body
            h4.statsTitle STATISTICS
            ul#statsModule
                li#statsPlayed 
                    div#statsPlayedValue.statsValue 1
                    div.statsLabel Played
                li#statsWinPercent
                    div#statsWinPercentValue.statsValue 100%
                    div.statsLabel Win %
                li#statsCurrentStreak 
                    div#statsCurrentStreakValue.statsValue 1
                    div.statsLabel Current Streak
                li#statsMaxStreak 
                    div#statsMaxStreakValue.statsValue 1
                    div.statsLabel Max Streak

            h4.statsTitle GUESS DISTRIBUTION
            ul#guessDistribution
                li#oneAttemptCount
                    p 1
                    div.oneAttemptCount
                        p#oneAttemptCountValue 0
                        div#oneAttemptCountBar
                li#twoAttemptCount
                    p 2
                    div.twoAttemptCount
                        p#twoAttemptCountValue 0
                        div#twoAttemptCountBar
                li#threeAttemptCount
                    p 3
                    div.threeAttemptCount
                        p#threeAttemptCountValue 0
                        div#threeAttemptCountBar
                li#fourAttemptCount
                    p 4
                    div.fourAttemptCount
                        p#fourAttemptCountValue 0
                        div#fourAttemptCountBar
                li#fiveAttemptCount
                    p 5
                    div.fiveAttemptCount
                        p#fiveAttemptCountValue 0
                        div#fiveAttemptCountBar
                li#sixAttemptCount
                    p 6
                    div.sixAttemptCount
                        p#sixAttemptCountValue 0
                        div#sixAttemptCountBar            
        hr
        .resultsModal-footer
            button#shareButton Share Result
            