doctype html
html(lang='en')
  head
    title Sign Up
    link(rel="stylesheet", href="/stylesheets/landing.css")
    link(rel="stylesheet", href="/stylesheets/login.css")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap', rel='stylesheet')
  body
    main
      img(src="/images/wordle-icon.png", alt="Shwordle logo")
      h1 Sign Up
      if errors
        ul
          each error in errors
            li= error.msg
      form(action='/user/signup', method='post')

        label(for='username') Username: 
        small Must be unique, at most 20 characters long, and cannot contain spaces.
        input(type='text', name='username', id='username')

        label(for='password') Password:
        small Must be at least 8 characters long.
        input(type='password', name='password', id='password')

        label(for='confirmpassword') Confirm Password: 
        input(type='password', name='confirmpassword', id='confirmpassword')

        button(type='submit') Sign Up
