/* Common modal */
.common-modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.common-modal-content {
    width: 90%;
    max-width: 500px;
    background: #121212;
    color: #fff;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.common-modal-header {
    display: flex;
    justify-content: flex-end;
}

.common-modal-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Close Button Style - can be used for both modals */
button#closeButton, button#closeButtonHelp {
    color: #ffffff;
    background: #00000000;
    font-size: large;
    font-weight: 900;
}

/* Common Animations */
/* Modal Background Fade In Animation */
@keyframes modalBgFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.common-modal-bg-fade-in {
    animation: modalBgFadeIn 0.2s ease-out forwards;
}

/* Modal Content Slide Up Animation */
@keyframes modalContentSlideUp {
    from { transform: translateY(5%); }
    to { transform: translateY(0); }
}

.common-modal-content-slide-up {
    animation: modalContentSlideUp 0.3s ease-out forwards;
}

#closeButton,
#closeButtonHelp {
    color: #ffffff;
    background: #00000000;
    font-size: large;
    font-weight: 900;
}



/* Help Modal Specific Styles */
#helpModal .common-modal-content {
    /* Specific styles for Help Modal */
}

#helpModal .help-section {
    /* Style for the help-section if needed */
}


/* Result Modal Specific Styles */
#modal .common-modal-footer {
    text-align: center;
}

#modal #shareButton {
    font-size: large;
    font-weight: bold;
    color: #ffffff;
    background: #6aaa64be;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: none;
    cursor: pointer;
}

#modal hr {
    border: 1px solid #989393;
}
