body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #252525;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding-top: 10vh
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  
  h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #E0E0E0;
  }

#date {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #BDBDBD;
  }
  
button {
    cursor: pointer;
    background: #6aaa64;
    color: #ffffff;
    font-weight: bold;
    
    border: none;
    padding: 10px 20px;
    margin: 1rem;
    border-radius: 5px;
    font-size: 1em;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
button:hover {
    background: #385c35;
}
  
.play-button button {
    font-size: 32px;
    padding: 20px 40px;
}
  
.auth-buttons {
    
}
  
.auth-buttons button {
    background-color: gray;
    color: white;

    margin: 20px 1.5rem;
}
  
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.user-container button {
  background-color: rgb(150, 0, 0);
}

.user-container span {
  font-weight: bold;
}
